.productItem {
    border: 1px solid rgba(19, 18, 18, 0.288);
    margin: 0 0 5px;
    display: flex;
    padding: 5px 0;
    color: rgb(19, 18, 18);
}

.itemImage {
    width: 90px;
    padding: 3px;
    margin: 0 5px 0 0;
}

.cart {
    padding: 20px 0 0;
    width: 100%;
}

.infoHolder {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.buttonHolder * {
    margin: 0 3px 0 ;
}

.buttonHolder *:first-child {
    margin: 0 3px 0 0;
}

.buttonHolder {
    margin-top: auto;
}

.emptyCart {
    margin: auto;
    width: 60%;
}