.itemImage {
    width: 200px;
    margin: 0 0 10px;
}

.productList {
    display: flex;
    justify-content: flex-start;
    padding: 20px 0 0;
    width: 100%;
    flex-wrap: wrap;
}

.productItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(19, 18, 18, 0.63);
    padding: 5px 5px 10px;
    box-shadow:  2px 2px 8px -3px rgba(0,0,0,0.75);
    width: calc(25% - 8px);
    margin: 0 4px 8px;
}

.itemName {
    margin-top: auto;
}