.header {
    background: rgb(19, 18, 18);
    display: flex;
    padding: 20px 10px;
    color:#fff;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.cartIcon {
    width: 30px;   
}

.cartIconHolder {
    display: flex;
    align-items: center;
}

.menu a {

    text-transform: uppercase;
    font-weight: 300;
}

.cartLink {
    margin: 0 5px 0 0;
}

.logo {
    width: 60px;
}
