.header {
    max-width: 1200px;
    margin: auto;
    display: flex;
    padding: 20px 49px;
    color:#fff;
    justify-content: space-between;
}

.cartIcon {
    width: 30px;   
}

.cartIconHolder {
    display: flex;
    align-items: center;
}

.menu a {

    text-transform: uppercase;
    font-weight: 300;
}

.cartLink {
    margin: 0 5px 0 0;
}

.logo {
    width: 100px;
}
